---
import TechSlider from "@components/TechSlider.astro";
import Hero from "@components/Hero.astro";
import Services from "@components/Services.astro";
import Layout from "@layouts/Layout.astro";
import About from "@components/About.astro";
---

<Layout>
  <main>
    <Hero />
    <Services />
    <About />
    <TechSlider />
  </main>
</Layout>
