<section class="bg-[url('/src/lib/bg-dark-grainy.webp')] py-64 -mt-24 z-0">
  <div class="max-w-7xl mx-auto">
    <div class="relative flex items-center justify-center mb-16">
      <div id="aboutme-section" class="border-t border-gray-300 w-full"></div>
      <span
        class="absolute px-8 py-3 bg-white text-xl rounded-full text-gray-800 font-medium shadow-sm -rotate-12"
      >
        Sobre mi
      </span>
    </div>
    <div class="relative border-l-4 border-gray-300 ml-3">
      <div class="mb-8 flex items-center">
        <div
          class="absolute w-3 h-3 bg-blue-500 rounded-full -left-1.5 border border-white"
        >
        </div>
        <h3 class="text-xl font-semibold text-gray-900 ml-6">
          Desarrollador de Software, Analista y Diseñador
        </h3>
      </div>
      <div class="mb-8 ml-6">
        <p class="text-gray-700 mb-4">
          Con más de 6 años de experiencia en desarrollo de sistemas y 3 años en
          diseño web, me especializo en crear tanto paginas web como
          aplicaciones móviles.
        </p>
        <p class="text-gray-700 mb-4">
          Valoro invertir tiempo con el cliente para crear una conexion positiva
          y recabar todos los minimos detalles lo cual facilita el flujo de
          trabajo y asegurar la máxima eficiencia y satisfacción
        </p>
      </div>
      <div class="mb-8 flex items-center">
        <div
          class="absolute w-3 h-3 bg-green-500 rounded-full -left-1.5 border border-white"
        >
        </div>
        <h3 class="text-xl font-semibold text-gray-900 ml-6">
          Deportes y tiempo al aire libre
        </h3>
      </div>
      <div class="mb-8 ml-6">
        <p class="text-gray-700">
          Cuando no estoy programando, me gusta pasar mi tiempo fuera de casa
          haciendo deportes o caminar en el parque. Soy muy fan de prácticamente
          todos los deportes, especialmente lo que usan una raqueta. Valoro
          mucho la naturaleza y los animales pero no soy particularmente muy
          apegado a los insectos.
        </p>
      </div>
      <div class="mb-8 flex items-center">
        <div
          class="absolute w-3 h-3 bg-red-500 rounded-full -left-1.5 border border-white"
        >
        </div>
        <h3 class="text-xl font-semibold text-gray-900 ml-6">
          Multimedia, video juegos y creatividad.
        </h3>
      </div>
      <div class="ml-6">
        <p class="text-gray-700">
          La música, la fotografia, el dibujo y el arte en general representan
          una parte fundamental de mi persona. Estos encienden mi lado creativo
          lo cual me ayuda a traer ideas frescas e innovadoras a la hora de
          desarrollar software. Desde joven soy bien fanatico de los video
          juegos porque siento que me transportan a otro mundo donde puedo hacer
          explotar mi imaginacion. Mis generos favoritos son los MMO-RPGs,
          fantasy RGSs, arcades y aventuras.
        </p>
      </div>
    </div>
  </div>
</section>
