<div
  class="bg-[url('/src/lib/bg-light-grainy.webp')] w-full py-12 md:py-24 lg:py-32 flex items-center justify-center rounded-t-[124px] -mt-24"
>
  <div class="container px-4 md:px-6">
    <div class="flex flex-col items-center space-y-4 text-center">
      <div class="rounded-full bg-gray-100 p-4 dark:bg-gray-800">
        <img src="/src/lib/hands.png" alt="Contact shaking hands icon" />
      </div>
      <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
        Tell me about your next project
      </h2>
      <div class="flex flex-col sm:flex-row gap-4 min-[400px]:w-[360px] py-10">
        <button
          class="bg-gray-900 text-white px-6 py-3 rounded-full inline-flex items-center space-x-2 hover:bg-gray-800 transition duration-300 text-lg"
        >
          <span>Email me</span>

          <svg class="feather">
            <use href="../../feather-sprite.svg#mail"></use>
          </svg>
        </button>
        <button
          class="bg-gray-900 text-white px-6 py-3 rounded-full inline-flex items-center space-x-2 hover:bg-gray-800 transition duration-300 text-lg"
        >
          <span>Let's Talk</span>

          <svg class="feather">
            <use href="../../feather-sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
