<footer class="bg-[url('/src/lib/bg-dark-grainy.webp')] text-gray-800 py-12">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex flex-wrap justify-between items-center">
      <div class="w-full md:w-1/2 mb-6 md:mb-0">
        <h2 class="text-2xl font-bold mb-4">Dany Fischer</h2>
        <p class="text-gray-700 mb-4">
          Crafting digital experiences that inspire and innovate.
        </p>
        <div class="flex space-x-4">
          <a
            href="#"
            class="rounded-md px-3 py-2 text-md font-medium text-gray-700 hover:text-gray-400 transition-colors"
          >
            <svg class="feather">
              <use href="../../feather-sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="#"
            class="rounded-md px-3 py-2 text-md font-medium text-gray-700 hover:text-gray-400 transition-colors"
          >
            <svg class="feather">
              <use href="../../feather-sprite.svg#linkedin"></use>
            </svg></a
          >
        </div>
      </div>
      <div class="w-full md:w-1/2">
        <nav class="grid grid-cols-2 gap-4">
          <a
            href="#services-section"
            class="rounded-md px-3 py-2 text-md font-medium text-gray-700 hover:text-gray-400 transition-colors"
            >Servicios</a
          >
          <a
            href="#aboutme-section"
            class="rounded-md px-3 py-2 text-md font-medium text-gray-700 hover:text-gray-400 transition-colors"
            >Sobre mi</a
          >
          <a
            href="#contactme-section"
            class="rounded-md px-3 py-2 text-md font-medium text-gray-700 hover:text-gray-400 transition-colors"
            >Contáctame</a
          >
          <a
            href="#tech-section"
            class="rounded-md px-3 py-2 text-md font-medium text-gray-700 hover:text-gray-400 transition-colors"
            >Tecnologías</a
          >
        </nav>
      </div>
    </div>
  </div>
</footer>
