<header class="bg-[url('/src/lib/bg-dark-grainy.webp')]">
  <nav class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 sm:py-10 py-3">
    <div class="flex flex-1 items-center justify-start">
      <div class="flex items-center gap-3">
        <a class="font-bold md:text-lg text-sm" href="/"
          >danfisch.dev@gmail.com</a
        >
        <button
          class="px-7 py-3 text-sm text-gray-800 bg-white border rounded-full hover:bg-gray-100 transition-colors"
        >
          Copy
        </button>
        <button
          class="px-7 py-3 text-sm text-gray-800 bg-white border rounded-full hover:bg-gray-100 transition-colors"
        >
          CV
        </button>
      </div>
    </div>
  </nav>
</header>

<!-- OLD NAV BAR LINKS, WILL USE LATER -->
<!-- 
<a
href="#"
class="rounded-md px-3 py-2 text-md font-medium text-gray-500 hover:text-black"
aria-current="page">START</a
>
<a
href="#"
class="rounded-md px-3 py-2 text-md font-medium text-gray-500 hover:text-black"
aria-current="page">SERVICES</a
>
<a
href="#"
class="rounded-md px-3 py-2 text-md font-medium text-gray-500 hover:text-black"
>ABOUT</a
>
<a
href="#"
class="rounded-md px-3 py-2 text-md font-medium text-gray-500 hover:text-black"
>BLOG</a
> -->

<!-- <div class="relative flex h-16 items-center justify-between"> -->
