<div
  class="relative z-30 bg-[url('/src/lib/bg-dark-grainy.webp')] flex flex-col justify-center px-4 sm:px-6 lg:px-8 pt-20 md:pb-28 pb-20 sm:rounded-b-[124px] rounded-b-[80px]"
>
  <div class="max-w-7xl mx-auto">
    <p class="text-3xl mb-4">Howdy, I'm Dany.</p>
    <h1 class="text-5xl sm:text-8xl font-bold leading-tight mb-4">
      Designing digital product with emphasis
      <span class="text-gray-400">on visual design</span>
    </h1>
    <button
      class="bg-gray-900 text-white px-6 py-3 rounded-full inline-flex items-center space-x-2 hover:bg-gray-800 transition duration-300 text-lg"
    >
      <span>Let's Talk</span>

      <svg class="feather">
        <use href="../../feather-sprite.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
