---
import ChevronIcon from "../components/Chevron.astro";

import { LANGUAGES } from "../i18n/ui";
import {
  getRouteFromUrl,
  useTranslatedPath,
  getLangFromUrl,
} from "../i18n/utils";

const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const currentLocaleData = LANGUAGES[lang];
const otherLocales = Object.values(LANGUAGES).filter(
  (locale) => locale.code !== lang
);
---

<div class="group text-black rounded-md transition-all duration-300">
  <button
    type="button"
    class="group inline-flex justify-start items-center w-full gap-x-2 px-2 py-1"
    aria-expanded="true"
    aria-haspopup="true"
  >
    <currentLocaleData.flag />
    {currentLocaleData.name}
    <ChevronIcon size={20} orientation="down" color="black" />
  </button>
  <ul
    class="group-hover:block group-hover:duration-300 hidden pt-1 absolute group-hover:animate-fade-in md:group-hover:animate-duration-300"
  >
    {
      otherLocales.map((locale) => (
        <li class="py-[2px]">
          <a
            class="rounded-md bg-white whitespace-no-wrap inline-flex justify-start items-center gap-x-2 px-5 py-2 border border-gray-500/30 duration-300"
            href={translatePath(`/${route ? route : ""}`, locale.code)}
          >
            <locale.flag />
            {locale.name}
          </a>
        </li>
      ))
    }
  </ul>
</div>
