---
const services = [
  {
    icon: "../../feather-sprite.svg#layout",
    title: "UX & UI",
    description: "Diseñando interfaces intuitivas, enficientes y amigables",
  },
  {
    icon: "../../feather-sprite.svg#smartphone",
    title: "Web & Aplicación Móvil",
    description:
      "Transformando ideas en experiencias Web y Móvil excepcionales",
  },
  {
    icon: "../../feather-sprite.svg#pen-tool",
    title: "Diseño & Creatividad",
    description:
      "Construyendo diseños atractivos que conectan con tu audiencia",
  },
  {
    icon: "../../feather-sprite.svg#code",
    title: "Desarrollo",
    description:
      "Convietiendo tu vision en realidad con tecnología y diseño de punta",
  },
];
---

<div
  class="relative z-20 pb-36 pt-56 px-4 -mt-24 rounded-b-[124px] bg-[url('/src/lib/bg-light-grainy.webp')]"
>
  <div class="max-w-7xl mx-auto">
    <div class="relative flex items-center justify-center mb-16">
      <div id="services-section" class="border-t border-gray-300 w-full"></div>
      <span
        class="absolute px-8 py-3 bg-white text-2xl rounded-full text-gray-800 font-medium shadow-sm"
      >
        Servicios
      </span>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {
        services.map((service) => (
          <div class="flex flex-col items-center text-center">
            <div class="mb-6">
              <svg class="feather">
                <use href={service.icon} />
              </svg>
            </div>
            <h3 class="text-xl font-semibold text-gray-800 mb-3">
              {service.title}
            </h3>
            <p class="text-gray-600 leading-relaxed">{service.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</div>
