---
const services = [
  {
    icon: "../../feather-sprite.svg#layout",
    title: "UX & UI",
    description:
      "Designing interfaces that are intuitive, efficient, and enjoyable to use.",
  },
  {
    icon: "../../feather-sprite.svg#smartphone",
    title: "Web & Mobile App",
    description:
      "Transforming ideas into exceptional web and mobile app experiences.",
  },
  {
    icon: "../../feather-sprite.svg#pen-tool",
    title: "Design & Creative",
    description:
      "Crafting visually stunning designs that connect with your audience.",
  },
  {
    icon: "../../feather-sprite.svg#code",
    title: "Development",
    description:
      "Bringing your vision to life with the latest technology and design trends.",
  },
];
---

<div
  class="relative z-20 pb-36 pt-56 px-4 -mt-24 rounded-b-[124px] bg-[url('/src/lib/bg-light-grainy.webp')]"
>
  <div class="max-w-7xl mx-auto">
    <div class="relative flex items-center justify-center mb-16">
      <div id="services-section" class="border-t border-gray-300 w-full"></div>
      <span
        class="absolute px-8 py-3 bg-white text-xl rounded-full text-gray-800 font-medium shadow-sm rotate-12"
      >
        Servicios
      </span>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {
        services.map((service) => (
          <div class="flex flex-col items-center text-center">
            <div class="mb-6">
              <svg class="feather">
                <use href={service.icon} />
              </svg>
            </div>
            <h3 class="text-xl font-semibold text-gray-800 mb-3">
              {service.title}
            </h3>
            <p class="text-gray-600 leading-relaxed">{service.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</div>
