---
import { getI18N } from "@src/i18n/index";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@src/i18n/utils";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
---

<section
  class="bg-[url('/lib/bg-light-grainy.webp')] md:rounded-t-[124px] rounded-t-[80px] sm:-mt-24 -mt-10"
>
  <div
    class="mx-auto max-w-7xl sm:text-center text-left px-4 md:pt-24 pt-36 space-y-6 pb-10"
  >
    <div class="relative flex justify-center items-center mb-20">
      <div id="tech-section" class="border-t border-gray-300 w-full"></div>

      <span
        class="absolute px-8 py-3 bg-white text-xl rounded-full text-gray-800 font-medium shadow-sm"
      >
        {i18n.SECTION_TECHNOLOGY.TITLE}
      </span>
    </div>
    <p class="text-xl text-gray-800">
      {i18n.SECTION_TECHNOLOGY.DESCRIPTION}
    </p>
  </div>

  <div
    class="flex overflow-hidden pt-8 md:pb-52 pb-32 [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]"
  >
    <ul
      class="flex items-center justify-center [&_li]:mx-12 [&_img]:max-w-none animate-infinite-scroll"
    >
      <li>
        <img src="/icons/Tech-icons/javascript.svg" alt="Javascript" />
      </li>
      <li>
        <img src="/icons/Tech-icons/html5.svg" alt="Html" />
      </li>
      <li>
        <img src="/icons/Tech-icons/mysql.svg" alt="MySql" />
      </li>
      <li>
        <img src="/icons/Tech-icons/nodejs.svg" alt="NodeJS" />
      </li>
      <li>
        <img src="/icons/Tech-icons/css.svg" alt="CSS" />
      </li>
      <li>
        <img src="/icons/Tech-icons/python.svg" alt="Python" />
      </li>
      <li>
        <img src="/icons/Tech-icons/java.svg" alt="Java" />
      </li>
      <li>
        <img src="/icons/Tech-icons/kotlin.svg" alt="Kotlin" />
      </li>
      <li>
        <img src="/icons/Tech-icons/reactnative.svg" alt="React Native" />
      </li>
      <li>
        <img src="/icons/Tech-icons/wordpress.svg" alt="Wordpress" />
      </li>
      <li>
        <img src="/icons/Tech-icons/php.svg" alt="Php" />
      </li>
      <li>
        <img src="/icons/Tech-icons/shopify.svg" alt="Shopify" />
      </li>
      <li>
        <img src="/icons/Tech-icons/woocommerce.svg" alt="WooCommerce" />
      </li>
      <li>
        <img src="/icons/Tech-icons/swift.svg" alt="Swift" />
      </li>
      <li>
        <img src="/icons/Tech-icons/golang.svg" alt="Golang" />
      </li>
      <li>
        <img src="/icons/Tech-icons/c.svg" alt="c#" />
      </li>
      <li>
        <img src="/icons/Tech-icons/typescript.svg" alt="Typescript" />
      </li>
      <li>
        <img src="/icons/Tech-icons/powerbi.svg" alt="PowerBI" />
      </li>
    </ul>

    <!-- Duplicate list -->
    <ul
      class="flex items-center justify-center [&_li]:mx-12 [&_img]:max-w-none animate-infinite-scroll"
      aria-hidden="true"
    >
      <li>
        <img src="/icons/Tech-icons/javascript.svg" alt="Javascript" />
      </li>

      <li>
        <img src="/icons/Tech-icons/html5.svg" alt="Html" />
      </li>
      <li>
        <img src="/icons/Tech-icons/mysql.svg" alt="MySql" />
      </li>
      <li>
        <img src="/icons/Tech-icons/nodejs.svg" alt="NodeJS" />
      </li>
      <li>
        <img src="/icons/Tech-icons/css.svg" alt="CSS" />
      </li>
      <li>
        <img src="/icons/Tech-icons/python.svg" alt="Python" />
      </li>
      <li>
        <img src="/icons/Tech-icons/java.svg" alt="Java" />
      </li>
      <li>
        <img src="/icons/Tech-icons/kotlin.svg" alt="Kotlin" />
      </li>
      <li>
        <img src="/icons/Tech-icons/reactnative.svg" alt="React Native" />
      </li>
      <li>
        <img src="/icons/Tech-icons/wordpress.svg" alt="Wordpress" />
      </li>
      <li>
        <img src="/icons/Tech-icons/php.svg" alt="Php" />
      </li>
      <li>
        <img src="/icons/Tech-icons/shopify.svg" alt="Shopify" />
      </li>
      <li>
        <img src="/icons/Tech-icons/woocommerce.svg" alt="WooCommerce" />
      </li>
      <li>
        <img src="/icons/Tech-icons/swift.svg" alt="Swift" />
      </li>
      <li>
        <img src="/icons/Tech-icons/golang.svg" alt="Golang" />
      </li>
      <li>
        <img src="/icons/Tech-icons/c.svg" alt="c#" />
      </li>
      <li>
        <img src="/icons/Tech-icons/typescript.svg" alt="Typescript" />
      </li>
      <li>
        <img src="/icons/Tech-icons/powerbi.svg" alt="PowerBI" />
      </li>
    </ul>
  </div>
</section>
